*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #f783ac;

}

.heading {
    margin: 0;
    padding: 1em 0 0 0;
    text-align: center;
    border-bottom: 1em solid #5299aa;
    background-color: white;
}

.heading h1,
.heading p  {
    font-family: unit-rounded, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.heading h1 {
    color: #f783ac;
}

.wForm {
    margin: 0 auto;
    padding: 1em 0em;

}

.wInput input {
    padding-right: 2em;
    margin-bottom: 1em;
}

.weatherDiv {
    padding:  0 1em;
    background-color: #aa496c;
}

.weatherDiv h3 {
    font-family: unit-rounded, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #f8f19d;
}

.wRow {
    margin-top: 0.5em;
}

.wRow h3 {
    color: #5299aa;
}

.wRow h3 p {
    color: white;
    font-size: 1em;
    text-align: right;
}